<footer>
  <div id="title-redes">
     <p>REDES SOCIAIS</p><p>SOBRE</p>

  </div>

<div id="imagem-redes">
   <a href="https://github.com/Luiz326" target="blank" ><img src="assets\github-social.png"></a>
  <br>
  <a href="https://www.linkedin.com/in/luiz-mitsuru-dai-front-end/" target="blank" ><img src="assets\network-linkedin.png"></a>
  <div id="about-text"><p>A PopMovie é o seu catálogo <br>virtual de filmes.</p>
  </div>
</div>






</footer>
<div><span>2021 - Todos os direitos reservados</span> </div>
