footer{

  background-color:#232121;

  width: 2114px;
  height: 181px;
}
footer>p{
  padding: 10px;
  padding-left: 106px;
  color:#FFFFFF ;
}

#imagem-redes{
width: 100px;
margin-left: 290px;
background-color:#232121;
}
#imagem-redes>a img{
  margin-right: 15px;
  background-color:#232121;
  transform: scale(1.1);
  opacity: 0.9;
  }

#imagem-redes> a img:hover {
  opacity: 1;
  transform: rotate3d(1, 2.0, 3.0, 10deg);

}

#about-text{
  display: flex;
  align-items: center;
  width: 1280px;
  color:#6E675E;
  background-color:#232121;
  margin-bottom: 200px;

}

#about-text>p{
  width: 500px;

  padding-left: 540px;

}
#title-redes{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  background-color:#232121;
  width: 1280px;
}




div{
  width:2114px;
  height:61px;
  background-color:#D68F32;
  color: #FFFFFF;
  display: flex;
  align-content: center;

}
div>span{
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (min-width:1280px){
  footer{
    width: 2130px;
  }
  div{
    width: 2130px;
  }
}

