footer{

  background-color:#232121;

  width: 1280px;
  height: 181px;
}
footer>p{
  padding: 10px;
  padding-left: 106px;
  color:#FFFFFF ;
}

#imagem-redes{
width: 100px;
margin-left: 290px;
  background-color:#232121;
}
#imagem-redes>img{
  margin-right: 15px;
   background-color:#232121;
  }

#about-text{
  display: flex;
  width: 1280px;
  color:#6E675E;
  background-color:#232121;
  margin-bottom: 200px;
}

#about-text>p{
  width: 300px;
  padding-left: 550px;


}
#title-redes{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  background-color:#232121;
  width: 1280px;

}


div{

  width: 1280px;
  height:61px;
  background-color:#D68F32;
  display: flex;
  align-content: center;

}
div>span{
  margin-top: 20px;
  margin-left: 30px;
}
@media screen and (min-width:1280px){

  footer{
    background-color:#232121;
    width: 2114px;
    height: 200px;
  }

  about-text{
    display: flex;
    width: 1280px;
    color:#6E675E;
    background-color:#232121;
    margin-bottom: 200px;
  }
  about-text>p{
    width: 300px;
    margin-left: 500px;


  }

#about-text>p{
    width: 500px;

    padding-left: 540px;

  }

  #title-redes{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    background-color:#232121;
    width: 1280px;
  }


  div{
    width:2114px;
    height:61px;
    background-color:#D68F32;
    color: #FFFFFF;
    display: flex;
    align-content: center;

  }


}

