<div class=" containner">

  <div class="details">
      <p>PopMovie seu <br>catálogo virtual<br> de filmes</p>
      <div id="movie-icon">
       <img src="assets\movies-sit.png">
      </div>
  </div>
  <div class="login">
    <div id="form-login">
      <p>Entre na sua conta</p>
      <form>
        <label>email</label>
        <input type="email" id="email"  name="email">
        <label>senha</label>
        <input type="password" id="senha"  name="senha">
       <button>Login</button>
      </form>

    </div>
    <div id="movie-home-image">
      <span><img src="assets\movies-home.png"></span>

    </div>
</div>
